{{extend 'layout.html'}}
<script type="text/javascript">
    function newIngred()
    {
                var app ="<input type='text' name='ingredients' placeholder='ingredient name' required>\n\
        <input type='number' name='quantity' placeholder='quantity' required>\n\
        <select name='measure' required>\
        <option value='tbsp'>tbsp</option>\
        <option value='tbsp'>tbsp</option>\
         <option value='cup'>cup</option>\
         <option value='gram'>gram</option>\
         <option value='ounce'>ounce</option>\
           <option value='lt'>lt</option>\
            <option value='pieces'>pieces</option>\n\
     </select><br>";
               $("#ingreds").append(app);
               return false;
    }
</script>
<h3>Add a new recipe</h3>
 <form method="post" enctype="multipart/form-data">
     Category:<br>
     <input type="checkbox" class="checkbox" name="category" value="breakfast" checked/>Breakfast<br>
     <input type="checkbox" class="checkbox" name="category" value="Lunch"/>Lunch<br>
     <input type="checkbox" class="checkbox" name="category" value="Dinner"/>Dinner<br>
     <input type="checkbox" class="checkbox" name="category" value="Drink"/>Drink<br>
     <input type="checkbox" class="checkbox" name="category" value="Snacks"/>Snacks<br>
     Name:
     <input type="text" name="name" required><br>
     Slug:
     <input type="text" name="slug" required><br>
     Image: <input type="file" name="pic" accept="image/*" required><br>
     Description: <textarea name="description" required></textarea><br>
     Serving size:
      <input type="text" name="serves" required><br>
      <div id="ingreds">Ingredients<br>
          <input type='text' name="ingredients" placeholder="ingredient name" required>
     <input type="number" name="quantity" placeholder="quantity" required>
     <select name="measure">
         <option value="tbsp">tbsp</option>
                  <option value="tsp">tsp</option>

         <option value="cup">cup</option>
         <option value="gram">gram</option>
         <option value="ounce">ounce</option>
         <option value="litre">litre</option>
         <option value="pieces">pieces</option>
     </select><br>
     <input type='text' name="ingredients" placeholder="ingredient name" required>
     <input type="number" name="quantity" placeholder="quantity" required>
     <select name="measure">
         <option value="tbsp">tbsp</option>
                  <option value="tsp">tsp</option>

         <option value="cup">cup</option>
         <option value="gram">gram</option>
         <option value="ounce">ounce</option>
           <option value="lt">lt</option>
            <option value="pieces">pieces</option>
     </select><br>
     <input type='text' name="ingredients" placeholder="ingredient name" required>
     <input type="number" name="quantity" placeholder="quantity" required>
     <select name="measure">
         <option value="tbsp">tbsp</option>
                  <option value="tsp">tsp</option>

         <option value="cup">cup</option>
         <option value="gram">gram</option>
         <option value="ounce">ounce</option>
           <option value="lt">lt</option>
            <option value="pieces">pieces</option>
     </select><br>
     </div>
     <font onclick="newIngred()" style="color:blue;cursor: pointer">+add more</font><br>
     Cooking Time:
     <input type="text" name="c_time" required><br>
     Steps of Cooking:<br><textarea name="steps" required></textarea>
     <input type="submit" value="Add Recipe">
 </form>
{{=BEAUTIFY(response._vars)}}
{{pass}}
