{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<div style="width:60%;float: left">
    <div class="carousel slide" id="myCarousel" style="">
                <div class="carousel-inner">
                    {{temp=1}}
                    {{for res in slides:}}
                    {{if temp==1:}}
                    {{temp=2}}
                    <div class="item active">
                      <img alt="" src="{{=URL('download',args=res.image_loc)}}">
                      <div class="carousel-caption">
                        <h4><a href="{{=URL('default','recipes/'+res.slug)}}">{{=res.name}}</a></h4>
                        <p>{{=res.description}}</p></div>
                    </div>
                    {{else:}}
                  <div class="item">
                    <img alt="" src="{{=URL('download',args=res.image_loc)}}">
                      <div class="carousel-caption">
                        <h4><a href="{{=URL('default','recipes/'+res.slug)}}">{{=res.name}}</a></h4>
                        <p>{{=res.description}}</p></div>
                  </div>
                    {{pass}}
                    {{pass}}
                  
                </div>
                <a data-slide="prev" href="#myCarousel" class="left carousel-control" data-slide="prev">‹</a>
                <a data-slide="next" href="#myCarousel" class="right carousel-control" data-slide="next">›</a>
              </div>
</div>
<div style="width: 35%;float: right">
    <a class="twitter-timeline"  href="https://twitter.com/search?q=cooking+food"  data-widget-id="401473483793645568">Tweets about "cooking food"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
    <div style="clear: both"></div>
<script src="//www.gmodules.com/ig/ifr?url=http://feeds.cookinglight.com/CookingLight/Food&amp;synd=open&amp;w=326&amp;h=369&amp;title=All+about+cooking&amp;border=http%3A%2F%2Fwww.gmodules.com%2Fig%2Fimages%2F&amp;output=js"></script>
<div id="explore" style="">
    <h4 class="hubtitle" style="color:whitesmoke;">Explore Recipes...</h4>
<div class="clearfix"></div>
<div class="showcase-cntnr">
        <ul class="cat-cntnr">
        <li>
        <a href="/foodopediaa/default/search?ingredients=&category=breakfast"><img alt="Breakfast" src="{{=URL('static','images/breakfast_image.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=&category=breakfast">Breakfast</a></span>
        </li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=&category=breakfast"><img alt="lunch" src="{{=URL('static','images/lunch_image.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=&category=lunch">Lunch</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=&category=breakfast"><img alt="snacksr" src="{{=URL('static','images/snack_image.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=&category=snacks">Snacks</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=&category=breakfast"><img alt="dinner" src="{{=URL('static','images/dinner_image.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=&category=dinner">Dinner</a></span></li>
     </ul>   
</div>
<div style="clear:both;"></div>
</div>
<!-- <div class="clearfix"></div> -->
<div id="explore_new" style="">
<h4 class="hubtitle_new" style="color:whitesmoke;">Cooking with...</h4>
<div class="clearfix"></div>
<div class="showcase-cntnr">
        <ul class="cat-cntnr">
        <li>
        <a href="/foodopediaa/default/search?ingredients=paneer"><img alt="Breakfast" src="{{=URL('static','images/paneer.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=paneer">paneer</a></span>
        </li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=coffee"><img alt="lunch" src="{{=URL('static','images/coffee.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=coffee">coffee</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=rice"><img alt="snacksr" src="{{=URL('static','images/rice1.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=rice">rice</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=banana"><img alt="dinner" src="{{=URL('static','images/banana.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=banana">banana</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=carrot"><img alt="dessert" src="{{=URL('static','images/carrot.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=carrot">carrot</a></span></li>
        </ul>
</div>
<div style="clear:both;"></div>
<div class="showcase-cntnr">
        <ul class="cat-cntnr">
        <li>
        <a href="/foodopediaa/default/search?ingredients=mango"><img alt="Breakfast" src="{{=URL('static','images/mango.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=mango">mango</a></span>
        </li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=capsicum"><img alt="lunch" src="{{=URL('static','images/capsicum.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=capsicum">capsicum</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=chocolate"><img alt="snacksr" src="{{=URL('static','images/chocolate.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=chocolate">chocolate</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=potato"><img alt="dinner" src="{{=URL('static','images/potato.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=potato">potato</a></span></li>
        <li>
        <a href="/foodopediaa/default/search?ingredients=milk"><img alt="dessert" src="{{=URL('static','images/milk.jpg')}}"></a>
        <span><a href="/foodopediaa/default/search?ingredients=milk">milk</a></span></li>
        </ul>
</div>
<div style="clear:both;"></div>
</div>
 
         
