{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<div style="width:60%;float: left">
    <div class="carousel slide" id="myCarousel" style="">
                <div class="carousel-inner">
                  <div class="item active">
                    <img alt="" src="{{=URL('static','images/capsicum.jpg')}}">
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img alt="" src="{{=URL('static','images/paneer.jpg')}}">
                    <div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img alt="" src="{{=URL('static','images/capsicum.jpg')}}">
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                </div>
                <a data-slide="prev" href="#myCarousel" class="left carousel-control" data-slide="prev">‹</a>
                <a data-slide="next" href="#myCarousel" class="right carousel-control" data-slide="next">›</a>
              </div>
</div>
<div style="width: 35%;float: right">
    <a class="twitter-timeline"  href="https://twitter.com/search?q=cooking+food"  data-widget-id="401473483793645568">Tweets about "cooking food"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
    <div style="clear: both"></div>
<script src="//www.gmodules.com/ig/ifr?url=http://feeds.cookinglight.com/CookingLight/Food&amp;synd=open&amp;w=326&amp;h=369&amp;title=All+about+cooking&amp;border=http%3A%2F%2Fwww.gmodules.com%2Fig%2Fimages%2F&amp;output=js"></script>
<div id="explore" style="">
<h4 class="hubtitle">Explore Recipes...</h4>
<div class="clearfix"></div>
<div class="showcase-cntnr">
        <ul class="cat-cntnr">
        <li>
        <a href="#"><img alt="Breakfast" src="{{=URL('static','images/breakfast_image.jpg')}}"></a>
        <span><a href="#">Breakfast</a></span>
        </li>
        <li>
        <a href="#"><img alt="lunch" src="{{=URL('static','images/lunch_image.jpg')}}"></a>
        <span><a href="#">Lunch</a></span></li>
        <li>
        <a href="#"><img alt="snacksr" src="{{=URL('static','images/snack_image.jpg')}}"></a>
        <span><a href="#">Snacks</a></span></li>
        <li>
        <a href="#"><img alt="dinner" src="{{=URL('static','images/dinner_image.jpg')}}"></a>
        <span><a href="#">Dinner</a></span></li>
        <li>
        <a href="#"><img alt="dessert" src="{{=URL('static','images/dessert_image.jpg')}}"></a>
        <span><a href="#">Dessert</a></span></li>
        
        </ul>   
</div>
<div style="clear:both;"></div>
</div>
<!-- <div class="clearfix"></div> -->
<div id="explore_new" style="">
<h4 class="hubtitle_new">Cooking with...</h4>
<div class="clearfix"></div>
<div class="showcase-cntnr">
        <ul class="cat-cntnr">
        <li>
        <a href="#"><img alt="Breakfast" src="{{=URL('static','images/paneer.jpg')}}"></a>
        <span><a href="#">paneer</a></span>
        </li>
        <li>
        <a href="#"><img alt="lunch" src="{{=URL('static','images/coffee.jpg')}}"></a>
        <span><a href="#">coffee</a></span></li>
        <li>
        <a href="#"><img alt="snacksr" src="{{=URL('static','images/rice1.jpg')}}"></a>
        <span><a href="#">rice</a></span></li>
        <li>
        <a href="#"><img alt="dinner" src="{{=URL('static','images/potato.jpg')}}"></a>
        <span><a href="#">potato</a></span></li>
        <li>
        <a href="#"><img alt="dessert" src="{{=URL('static','images/carrot.jpg')}}"></a>
        <span><a href="#">carrot</a></span></li>
        </ul>
</div>
<div style="clear:both;"></div>
<div class="showcase-cntnr">
        <ul class="cat-cntnr">
        <li>
        <a href="#"><img alt="Breakfast" src="{{=URL('static','images/mango.jpg')}}"></a>
        <span><a href="#">mango</a></span>
        </li>
        <li>
        <a href="#"><img alt="lunch" src="{{=URL('static','images/capsicum.jpg')}}"></a>
        <span><a href="#">capsicum</a></span></li>
        <li>
        <a href="#"><img alt="snacksr" src="{{=URL('static','images/chocolate.jpg')}}"></a>
        <span><a href="#">chocolate</a></span></li>
        <li>
        <a href="#"><img alt="dinner" src="{{=URL('static','images/potato.jpg')}}"></a>
        <span><a href="#">potato</a></span></li>
        <li>
        <a href="#"><img alt="dessert" src="{{=URL('static','images/carrot.jpg')}}"></a>
        <span><a href="#">carrot</a></span></li>
        </ul>
</div>
<div style="clear:both;"></div>
</div>
 
              
{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
<h6>{{=T("Don't know what to do?")}}</h6>
<ul>
  <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
  <li><a href="http://web2py.com">web2py.com</a></li>
  <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
</ul>
{{end}}