{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<script type='text/javascript'>
    function rate(value)
    {
        {{if rated:}}
        return false;
        {{pass}}
        {{if not auth.is_logged_in():}}
            $('#loginreg').modal({
            keyboard: false
            });
            $('.rating input').removeAttr("checked");
            return false
        {{pass}}
            $.ajax({
            type: "POST",
            url: "{{=URL('default','update_rating',host=True)}}",
            data: { value: value ,r_id:{{=res.id}}}
        })
                .done(function( new_rating ) {
                   // alert(new_rating);
                    res="";
                    for(i=0;i<5;i++)
                    {
                    if (i < 5-new_rating)
                        res+="<span>☆</span>";
                    else
                        res+="<span class='val'>☆</span>";
                    }
                    $( ".rating_small" ).html( res );
                    $("#rating_count").html(parseInt($("#rating_count").html())+1);
                    });
                    $('.rating input').attr("onclick","return false");
        return false;
    }
    function add_fav()
    {
        {{if not auth.is_logged_in():}}
            $('#loginreg').modal({
            keyboard: false
            });
            
            return false
        {{pass}}
            $.ajax({
            type: "POST",
            url: "{{=URL('default','favorite',host=True)}}",
            data: {r_id:{{=res.id}}}
        })
        $("#fav_icon").css('color',"red");
        $("#fav_link").html('Your Favourite!');
        $("#fav_link").attr("onclick","return false;");
        $("#fav_count").html(parseInt($("#fav_count").html())+1);
    }
    $(document).ready(function(){
        {{if rated>0:}}
        $('.rating :input[value="{{=rated}}"]').attr("checked","checked");
        {{pass}}
        {{if fav>0:}}
            $("#fav_icon").css('color',"red");
            $("#fav_link").html('Your Favourite!');
            $("#fav_link").attr("onclick","return false;");
        {{pass}}
    });
</script>
<style type="text/css">
    .recipe-head{
        background: none repeat scroll 0 0 white;
        border: 1px solid #C4CDE0;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        margin: auto;
        margin-bottom: 3%;
        padding: 13px 15px;
        width: 90%;
    }
    .recipe-head a
{
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: bold;
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    margin-left: 40%;
}
#method{
       background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 0 10px;
    padding: 9.5px;
    white-space: pre-wrap;
    word-break:normal;
    word-wrap:normal;
    
}
</style>
{{import json}}
    <div class="recipe-head">
         <a href="{{=URL('default','recipes/'+res.slug)}}">{{=res.name}}</a>
    </div>
    <ul class="thumbnails">
    <li class="span4">
    <a href="#" class="thumbnail">
    <img src="{{=URL('download',args=res.image_loc)}}" alt="">
    </a>
        <h4>Preparation method</h4>
        <div id="method">{{=XML("".join(res.steps.split("<br>")).replace('\n', '<br/>'),
                    sanitize=True, permitted_tags=['br/'])}}</div>
    </li>
    <li class="span5">
        <div style="border-bottom:1px solid #ccc;padding-bottom: 2%;min-width: 460px">
            <div class="rating_small">
                {{for i in range(5):}}
                    {{if i < 5-res.avg_rating:}}
                        <span>☆</span>
                    {{else:}}
                    <span class='val'>☆</span>
                    {{pass}}
                {{pass}}
            <!--<span>☆</span><span>☆</span><span class='val'>☆</span><span class='val'>☆</span><span class='val'>☆</span>
            --></div>&nbsp;&nbsp;<span id='rating_count'>{{=rating_count}}</span> Ratings | <span id='fav_count'>{{=res.fav_count}}</span> added to favorites
            <span style="float:right"><!--<i class="icon-heart"></i>--><span id="fav_icon" style="color:#333333;font-size: 200%">♥</span> 
                <a id="fav_link" style="color: #590000;text-decoration:none" href="#" onclick="add_fav();">Add to my favorites</a>
            </span>
        </div>
        <div style="background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); padding: 13px;margin-bottom: 1%;margin-top: 1%;display: inline-block;min-width: 95%">
            <table><tr>
                <td style="width:25%">
            <div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=374389969298284";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like" data-href="{{=URL('default','recipes/'+res.slug,host=True)}}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
                        </div></td><td style="width:25%">
                           <a style="width:80px" href="https://twitter.com/share" class="twitter-share-button" data-text="Hey there, wondering what to cook for the day?? give it a try ;-)" data-url="{{=URL('default','recipes/'+res.slug,host=True)}}" data-via="foodopediaa" data-related="foodopediaa" data-hashtags="cooking food"  data-lang="en">Tweet</a>
                        </td><td style="width:25%">
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    <!-- Place this tag where you want the +1 button to render. -->
					<div style="width:80px" class="g-plusone" data-size="medium" data-href="{{=URL('default','recipes/'+res.slug,host=True)}}"></div>
					<!-- Place this tag after the last +1 button tag. -->
					<script type="text/javascript">
						(function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						})();
					</script>
                                        </td><td style="width:25%">
                                        <div class="fb-share-button" data-href="{{=URL('default','recipes/'+res.slug,host=True)}}" data-type="button_count"></div>
                                        </td></tr></table>
                                        
        </div>
        {{if rated>0:}}
        <p>Your Rating: </p>
        {{else:}}
        <p>Have you tried this recipe? Rate it now</p>
        {{pass}}
        <fieldset class="rating">
            {{if rated>0:}}
            <input type="radio" id="star5" name="rating" value="5" onclick='return false' /><label for="star5" title="Rocks!" >5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" onclick='return false'/><label for="star4" title="Pretty good">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" onclick='return false'/><label for="star3" title="Meh">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" onclick='return false'/><label for="star2" title="Kinda bad">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" onclick='return false'/><label for="star1" title="Sucks big time">1 star</label>
            {{else:}}
            <input type="radio" id="star5" name="rating" value="5" onclick='rate(5)'/><label for="star5" title="Rocks!">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" onclick='rate(4)'/><label for="star4" title="Pretty good">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" onclick='rate(3)'/><label for="star3" title="Meh">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" onclick='rate(2)'/><label for="star2" title="Kinda bad">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" onclick='rate(1)'/><label for="star1" title="Sucks big time">1 star</label>
        {{pass}}
        </fieldset><br><br>
        <p>Cooking time approx: <span style="font-weight: bold">{{=res.cooking_time}}</span></p>
        <p>Make: <span style="font-weight: bold">{{=res.serves}}</span></p>
        <p><i class="icon-info-sign"></i>&nbsp;&nbsp{{=res.description}}</p>
        <h4>Ingredients</h4>
        {{for ingreds in json.loads(res.ingredients):}}
        <p style="line-height: 15px">{{=ingreds[1]}}&nbsp;{{=ingreds[2]}}&nbsp;{{=ingreds[0]}}</p>
        {{pass}}<br><br>
        <div class="fb-comments" data-href="{{=URL('default','recipes/'+res.slug,host=True)}}" data-numposts="5"></div>
    </li>
    </ul>

{{pass}}
