{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<style>

.result{
    width: 100%;
}
.result-content a
{
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: bold;
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    text-align: left
}
.result-image img{
    max-height: 200px;
}

.sm-size{
    color: #676767;
    font-size: 11px;
    line-height: 16px;
}
.line-header
{
    border-bottom: 0 none;
    border-top: 1px solid #333333;
    padding: 7px 0;
    overflow: hidden;
}
</style>
<script type="text/javascript">
    function sortResults()
    {
       // alert($("#sort-dropdown").val());
        $("#sorting").val($("#sort-dropdown").val());
        $("#submit").click();
    }
    $(document).ready(function(){
        $("#search").val('{{=",".join(query)}}');
        {{if cat:}}
        {{if not isinstance(cat, basestring):}}
        {{for c in cat:}}
        $('#searchbox :input[value="{{=c}}"]').attr("checked","checked");
        {{pass}}
        {{else:}}
        $('#searchbox :input[value="{{=cat}}"]').attr("checked","checked");
        {{pass}}
        {{pass}}
        $('#sort-dropdown option[value="{{=request.vars.sort_by}}"]').attr("selected","selected");
       // $('#sort-dropdown :input[value="{{=request.vars.sort_by}}"]').attr("selected","selected");
    })
</script>
<div class="line-header">
    <p style="float:left">Showing <b>{{=len(primary_res)+len(extra_res)}}</b> Results</p>
    <div style="float:right">Sort By:
    <select id="sort-dropdown" name="sortby" onchange="sortResults()">
                    <option value="cooking_time">Cooking Time</option>
                    <option value="rating">Rating</option>
                    <option value="popularity">Popularity</option>
    </select>
    </div>
</div>
{{if len(primary_res) >0 :}}
<h3>Relevant results</h3>
{{import json}}
{{pass}}
{{for res in primary_res:}}
<div class="result" style="background: #e7ebf3; border: 1px solid #c4cde0; padding: 13px 15px;margin-bottom: 1%;display: inline-block">
	<div class="result-content" style="width:60%;float: right">
            <a href="{{=URL('default','recipes/'+res.slug)}}">{{=res.name}}</a><br>
            <div class="rating_small">
                 {{for i in range(5):}}
                    {{if i < 5-res.avg_rating:}}
                        <span>☆</span>
                    {{else:}}
                    <span class='val'>☆</span>
                    {{pass}}
                {{pass}}
            <!--<span>☆</span><span>☆</span><span class='val'>☆</span><span class='val'>☆</span><span class='val'>☆</span>
            --></div>&nbsp;&nbsp;<span>{{if not isinstance(json.loads(res.category), basestring):}}{{=" . ".join(json.loads(res.category))}}{{else:}}{{=json.loads(res.category)}}{{pass}}</span>
            <br>
            <p class="sm-size"><i class="icon-info-sign"></i>&nbsp;&nbsp{{=res.description}}</p>
            <p class="sm-size"><span style="font-weight:bold">Ingredients Required: </span>{{=" , ".join(json.loads(res.all_ingreds))}}</p> 
            <p class="sm-size"><span style="font-weight:bold">Cooking time: </span>{{=res.cooking_time}}</p>
        </div>
	<div class="result-image" style="width:30%"><img alt="" src="{{=URL('download',args=res.image_loc)}}"></div>
</div>
{{pass}}
{{if len(extra_res) >0 :}}
<h4>More Results you may like to consider..</h4>
{{import json}}
{{pass}}
{{for res in extra_res:}}
<div class="result" style="background: #e7ebf3; border: 1px solid #c4cde0; padding: 13px 15px;margin-bottom: 1%;display: inline-block">
	<div class="result-content" style="width:60%;float: right">
            <a href="{{=URL('default','recipes/'+res.slug)}}">{{=res.name}}</a><br>
            <div class="rating_small">
                 {{for i in range(5):}}
                    {{if i < 5-res.avg_rating:}}
                        <span>☆</span>
                    {{else:}}
                    <span class='val'>☆</span>
                    {{pass}}
                {{pass}}
            <!--<span>☆</span><span>☆</span><span class='val'>☆</span><span class='val'>☆</span><span class='val'>☆</span>
            --></div>&nbsp;&nbsp;<span>{{if not isinstance(json.loads(res.category), basestring):}}{{=" . ".join(json.loads(res.category))}}{{else:}}{{=json.loads(res.category)}}{{pass}}</span>
            <br>
            <p class="sm-size"><i class="icon-info-sign"></i>&nbsp;&nbsp{{=res.description}}</p>
            <p class="sm-size"><span style="font-weight:bold">Ingredients Required: </span>{{=" , ".join(json.loads(res.all_ingreds))}}</p> 
            <p class="sm-size"><span style="font-weight:bold">Cooking time: </span>{{=res.cooking_time}}</p>
            <p class="sm-size"><i class="icon-hand-right"></i>&nbsp;&nbsp;You will also need to have <span style="font-weight:bold">{{=" , ".join(list(set(json.loads(res.all_ingreds))-set(query)))}}</span></p>
        </div>
	<div class="result-image" style="width:30%"><img alt="" src="{{=URL('download',args=res.image_loc)}}"></div>
</div>
{{pass}}
<div id="tmp"></div>
