{{left_sidebar_enabled,right_sidebar_enabled,footer_disabled=False,False,True}}
{{if request.args(0).replace('_',' ') == 'profile' or signin == False :}}
{{left_sidebar_enabled,right_sidebar_enabled,footer_disabled=False,True,False}}
{{pass}}
{{extend 'layout.html'}}
<style>
#content { display: block; width: 100%; margin: 0 auto;  }
#content .clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
#left { display: block; width: 82%; float: left; overflow: hidden; margin-right: 3%; }
#right { display: block; width: 13%; float: right; overflow: hidden; }
#userStats { margin-bottom: 5%; display: block; width: auto; background-color: #f9f9f9; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 12px; }
#userStats .pic { float: left; display: block; margin-right: 0; width:33%;}
#userStats .pic a img { padding: 7px; background: #fff; border: 1px solid #ccc; border-radius: 4%; width: 89%; height: 89%; }

#userStats .data { float: right; display: block; position:  relative; width: 67%; height: auto; padding: 0 0 0 4%; background: #e6e6e6; overflow:  hidden; box-sizing: border-box; -moz-box-sizing: border-box; border-radius: 4%;}
#userStats .data h1 { color: #474747; line-height: 1.6em; text-shadow: 0px 1px 1px #fff; }
#userStats .data h3 { color: #666; line-height: 0.9em; margin-bottom: 5px; }
#userStats .data h4 { font-size: 1.2em; line-height: 1.3em; }

#userStats .data .socialMediaLinks { position: absolute; right: 6px; top: 8px; }
#userStats .data .socialMediaLinks a img { margin-right: 5px; }

#userStats .data .sep { clear: both; margin-top: 25px; width: 95%; height: 1px; border-bottom: 1px solid #ccc; margin-bottom: 0; }
#userStats .data ul.numbers { list-style: none; width: 90%; padding-top: 6px; margin-top: 0; border-top: 1px solid #fff; color: #676767; }
#userStats .data ul.numbers li { width: 30%; float: left; display: block; padding-left: 3%; height: auto;  text-transform: uppercase; }
#userStats .data ul.numbers li strong { color: #434343; display: block; font-size: 2.3em; line-height: 1.6em; font-weight: bold; }

a { color: #3c86b7; text-decoration: none; }
a:hover { text-decoration: underline; }

ul { line-height: 120%; }

p { font-size: 1.2em; line-height: 1.4em; font-family: Arial, sans-serif; color: #333; margin-bottom: 15px; }
h1 { font-family: Helvetica, Arial, Verdana, sans-serif; color: #444; font-weight: bold; font-size: 1.7em; line-height: 2.0em; }
h2 { font-family: Georgia, Tahoma, sans-serif; font-style: italic; font-size: 1.4em; letter-spacing: -0.04em; line-height: 1.8em; }
h3 { color: #698216; font-weight: normal; font-size: 1.3em; line-height: 1.6em;  }
h4 { color: #232323; font-family: Arial, Tahoma, sans-serif; font-size: 1.1em; line-height: 1.3em; margin-bottom: 10px; }

.contributions-tab {
    margin-top: 20px;
}
*::-moz-selection {
    background: none repeat scroll 0 0 rgba(65, 131, 196, 0.4);
    text-shadow: none;
}
.popular-repos .col.single-column {
    padding-left: 0;
    padding-right: 0;
}
.grid .col {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.box {
    margin-bottom: 20px;
}
.box-header:before, .box-header:after {
    content: " ";
    display: table;
}
.box-header:after {
    clear: both;
}
.box-header:before, .box-header:after {
    content: " ";
    display: table;
}
.box-small .box-header {
    min-height: 36px;
}
.box-header {
    background-color: #EAEAEA;
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    background-repeat: repeat-x;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1;
    margin-left: 1%;
    margin-right: 1%;
}
.box-header, .box-body {
    -moz-box-sizing: border-box;
}
.box-small .box-title {
    margin-bottom: 6px;
    margin-top: 6px;
}
.box-title {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.429;
    margin-left: 3%;
    font-weight: bold;
}
.box-body:before, .box-body:after {
    content: " ";
    display: table;
}
.box-body:after {
    clear: both;
}
.box-body:before, .box-body:after {
    content: " ";
    display: table;
}
.box-body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #D5D5D5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    margin-left: 1%;
    margin-right: 1%;
}
.repo-list {
    list-style: none outside none;
}
ul, ol {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.repo-list > li:first-child .repo-list-item {
    border-top: 0 none;
}
.repo-list-item {
    -moz-box-sizing: border-box;
    border-top: 1px solid #E5E5E5;
    display: inline-block;
    font-size: 14px;
    padding: 6px 30px;
    position: relative;
    width: 90%;
}
.repo-list-item .repo-and-owner {
    max-width: 220px;
}
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    
    
    overflow: hidden;
    text-overflow: ellipsis;
   
    white-space: nowrap;
}
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    white-space: nowrap;
}

.repo-list-item .repo {
    font-weight: bold;
}
.repo-list-item .repo-icon {
    color: #666666;
    float: left;
    margin-left: -20px;
    margin-top: 2px;
}
.octicon {
    display: inline-block;
    font: 16px/1 octicons;
    text-decoration: none;
}

.repo-list-item .repo-description {
    color: #777777;
    display: block;
    font-size: 12px;
    max-width: 230px;
}
.w2p_fc{
    display: none;
}

</style>

{{if request.args(0).replace('_',' ') != 'profile' :}}
{{if request.args(0).replace('_',' ') == 'profile' or signin == False :}}
<h3>{{=request.args(0).replace('_',' ').capitalize()}}</h3>
{{pass}}
<div id="web2py_user_form">
{{
=form
}}
{{pass}}
</div>
{{if request.args(0).replace('_',' ') == 'profile' :}}
    <div class="span9">

<div id="content" class="clearfix">
		<section id="left" style="width:100%;margin-left: 3%">
			<div id="userStats" class="clearfix">
				<div class="pic">
					<a href="#"> <img style="max-height:200px;" alt="" src="{{if auth.user.profile_picture:}}{{=URL('download',args=auth.user.profile_picture)}}{{else:}}{{=URL('static','images/user_avatar.jpg')}}{{pass}}"></a>
				</div>
				
				<div class="data">
					<h1>{{=auth.user.first_name+" "+auth.user.last_name}}</h1>
					<h3>{{if auth.user.city:}}{{= auth.user.city+", "+auth.user.country}} {{pass}}</h3>
					<h4>{{=auth.user.email}}</h4>
					
					<div class="sep"></div>
					<ul class="numbers clearfix">
						<li>Starred<strong>{{=starred}}</strong></li>
						<li>Favorited<strong>{{=len(favs)}}</strong></li>
						<li class="nobrdr">Added<strong>{{=len(added)}}</strong></li>
					</ul>
				</div>
			</div>
		
			
		</section>
		
		<!--<section id="right">
			<div class="gcontent">
				<div class="head"><h1>Badges(3)</h1></div>
				<div class="boxy">
					<p>Keep working to unlock badges!</p>
					<!--
					<div class="badgeCount">
						<a href="#"><img src="img/foursquare-badge.png" /></a>
						<a href="#"><img src="img/foursquare-badge.png" /></a>
						<a href="#"><img src="img/foursquare-badge.png" /></a>
					</div>
					
					<span><a href="#">See all…</a></span>
				</div>
			</div>
			
			
		</section>-->
    </div>
        <section id="left" style="width:100%;margin-left: 3%">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Your Added Recipes</a></li>
    <li><a href="#tab2" data-toggle="tab">Your Favorited Recipes</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
   <div class="contributions-tab">

  <!-- POPULAR REPOSITORIES -->
  <div class="grid popular-repos">
    <div class="col single-column">
      <div class="box box-small">
        <div class="box-header">
          <h3 class="box-title">{{if len(added) == 0 :}}You have not added any recipe yet, <a href="{{=URL('default','add_recipe')}}">Click here</a> to add one now!{{else:}}Recipes you have added{{pass}}</h3>
        </div>
        <div class="box-body">
          <ul class="repo-list">
   {{for res in added:}}           
  <li class="public fork ">
    <img src="{{=URL('download',args=res.image_loc)}}" style="height:50px;width: 50px" alt=""/>
    <a class="repo-list-item css-truncate" href="{{=URL('default','recipes/'+res.slug)}}">
        <span class="repo-icon octicon octicon-repo-forked"></span>
      <span class="repo-and-owner css-truncate-target">
<span title="phpmyadmin" class="repo">{{=res.name}}</span>
      </span>
      <div class="rating_small" style="float:right">
                {{for i in range(5):}}
                    {{if i < 5-res.avg_rating:}}
                        <span>☆</span>
                    {{else:}}
                    <span class='val'>☆</span>
                    {{pass}}
                {{pass}}
       </div>
      <span class="repo-description css-truncate-target">{{=res.description}}</span>
    </a>
  </li>
{{pass}}
          </ul>
        </div>
      </div>
    </div>

    </div>
  </div>
    </div>
    <div class="tab-pane" id="tab2">
   <div class="contributions-tab">

  <!-- POPULAR REPOSITORIES -->
  <div class="grid popular-repos">
    <div class="col single-column">
      <div class="box box-small">
        <div class="box-header">
          <h3 class="box-title">{{if len(favs) ==0 :}}You have not favorited any recipe.{{else:}}Recipes you have favorited.{{pass}}</h3>
        </div>
        <div class="box-body">
          <ul class="repo-list">
   {{for res in favs:}}           
  <li class="public fork ">
    <img src="{{=URL('download',args=res.image_loc)}}" style="height:50px;width: 50px" alt=""/>
    <a class="repo-list-item css-truncate" href="{{=URL('default','recipes/'+res.slug)}}">
        <span class="repo-icon octicon octicon-repo-forked"></span>
      <span class="repo-and-owner css-truncate-target">
<span title="phpmyadmin" class="repo">{{=res.name}}</span>
      </span>
      <div class="rating_small" style="float:right">
                {{for i in range(5):}}
                    {{if i < 5-res.avg_rating:}}
                        <span>☆</span>
                    {{else:}}
                    <span class='val'>☆</span>
                    {{pass}}
                {{pass}}
       </div>
      <span class="repo-description css-truncate-target">{{=res.description}}</span>
    </a>
  </li>
{{pass}}
          </ul>
        </div>
      </div>
    </div>

    </div>
  </div>
    </div>
    </div>
    </div>
        </section>
	</div>
{{pass}}
<script language="javascript"><!--  
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>

