

p.headline a {
    font: bold 20px/1.3em arial,helvetica,sans-serif;
}

.ratings-cntnr {
    margin: 2px 0 14px;
}
.ratings-cntnr .rating-stars {
    float: left;
    margin: 0 9px 0 0;
}
.ratings-cntnr a.reviews-number {
    font-size: 12px;
    margin: 3px 0 0;
}
.right p.links {
    clear: both;
    color: #888888;
    margin: 1em 0;
}

.hubTitle {
    float: left;
    margin-bottom: 0 !important;
    margin-left: 4%;
    margin-top: 2%;
    text-align: left;
    width: 100%;
}
.showcase-cntnr {
    margin-bottom:0px !important;
    margin-left: 0px !important;
}


.showcase-cntnr {
    color: #2D2D2D;
    float: left;
    width: 100%;
}
.showcase-cntnr > p {
    font-size: 14px;
    margin: 5px 0 15px;
    text-align: center;
}
ul.cat-cntnr {
    display: block;
    float: left;
    width: 100%;
}
ul.cat-cntnr li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    height: 15%;
    margin: 0 10px;
    overflow: hidden;
    width: 15%;
    
}

ul.cat-cntnr li > a {
    display: block;
    height: 110px;
    text-align: center;
    width: 100%;
}
ul.cat-cntnr li img {
    height: 90px;
    width: 100px;
     border: 1px none;
    border-radius: 10%;
}
ul.cat-cntnr li > span {
    float: left;
    margin-top: -10px;
    text-align: center;
    width: 110px;
}
ul.cat-cntnr li > span a {
    color: red;
    font-size: 19px;
    line-height: 20px;
    text-decoration: none;
}

a.more {
    font-size: 10px;
}

.main{
        margin: 15% 5% 5%;
        background-color: wheat;
        border: 1px;
        border-radius: 1%;
    }
#myCarousel img
    {
        height: 400px;
    }
    
    .imag{
        bottom:0;
        position:fixed;
        top:0;
        width:100%;
        z-index:0;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        height:100%;
    }
    
    .carousel-control.right{
        right:173px;
    } 
    .carousel-caption{
        width:72.5%;
    }
    #explore{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin: 0 0 4%;
    padding: 18px ;
    position: relative;
    width:88%;
    }
    #explore_new{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 18px ;
    position: relative;
    width:88%;
    }
    .showcase-cntnr {
    margin-bottom: 6px;
    margin-left: 11px;
}
.hubtitle{
    margin-left: 4%;
    margin-top:2% 
}
.hubtitle_new{
    margin-left: 4%;
    margin-top:1% 
}


