

p.headline a {
    font: bold 20px/1.3em arial,helvetica,sans-serif;
}

.ratings-cntnr {
    margin: 2px 0 14px;
}
.ratings-cntnr .rating-stars {
    float: left;
    margin: 0 9px 0 0;
}
.ratings-cntnr a.reviews-number {
    font-size: 12px;
    margin: 3px 0 0;
}
.right p.links {
    clear: both;
    color: #888888;
    margin: 1em 0;
}

.hubTitle {
    float: left;
    margin-bottom: 0 !important;
    margin-left: 4%;
    margin-top: 2%;
    text-align: left;
    width: 100%;
}
.showcase-cntnr {
    margin-bottom:0px !important;
    margin-left: 0px !important;
}


.showcase-cntnr {
    color: #2D2D2D;
    float: left;
    width: 100%;
}
.showcase-cntnr > p {
    font-size: 14px;
    margin: 5px 0 15px;
    text-align: center;
}
ul.cat-cntnr {
    display: block;
    float: left;
    width: 100%;
}
ul.cat-cntnr li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    height: 15%;
    margin: 0 10px;
    overflow: hidden;
    width: 15%;
    
}

ul.cat-cntnr li > a {
    display: block;
    height: 110px;
    text-align: center;
    width: 100%;
}
ul.cat-cntnr li img {
    height: 90px;
    width: 100px;
     border: 1px none;
    border-radius: 10%;
}
ul.cat-cntnr li > span {
    float: left;
    margin-top: -10px;
    text-align: center;
    width: 110px;
}
ul.cat-cntnr li > span a {
    color: red;
    font-size: 19px;
    line-height: 20px;
    text-decoration: none;
}

a.more {
    font-size: 10px;
}

.main{
        margin: 15% 5% 5%;
        background-color: wheat;
        border: 1px;
        border-radius: 1%;
    }
    
    .imag{
        bottom:0;
        position:fixed;
        top:0;
        width:100%;
        z-index:0;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        height:100%;
    }
    
    #explore{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin: 0 0 4%;
    padding: 18px ;
    position: relative;
    width:88%;
    }
    #explore_new{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 18px ;
    position: relative;
    width:88%;
    }
    .showcase-cntnr {
    margin-bottom: 6px;
    margin-left: 11px;
}
.hubtitle{
    margin-left: 4%;
    margin-top:2% 
}
.hubtitle_new{
    margin-left: 4%;
    margin-top:1% 
}

.rating_small {
  unicode-bidi: bidi-override;
  direction: rtl;
  float:left;

}
.rating_small > span {
  display: inline-block;
  position: relative;
}
.rating_small > .val:before {
   content: "\2605";
   position: absolute;
   color:goldenrod;
}
.rating_small > .val {
   color:goldenrod;
}
/*.rating_small > span:hover:before,
.rating_small > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:gold;
}*/
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
#searchbox
{
    margin-left: 0;
    margin-top:0;
    width:60%;
    overflow: hidden; /* Clear floats */
	
}
#search, #submit
{
	float: left;
}
#search
{
        
	height: 30px;
	width: 68%;
	border: 1px solid #a4c3ca;
        padding-left:7%;
	background: #f1f1f1;
	
	
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
            background-image: url("{{=URL('static','images/search.png')}}");
background-repeat:no-repeat;
background-position:left;outline:0;
}
#submit
{		
	background: #6cbb6b;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 42px;
	margin: 0 0 0 -3px;
        
	width: 11%;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#submit:hover
{		
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}	

#submit:active
{		
	background: #95d788;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}


