
.carousel {
    position: relative;
    width: 100%;
}
.carousel .carousel-item {
    display: none;
}
.carousel .carousel-active {
    display: block;
}
.carousel .carousel-nav:nth-child(2) {
    display: none;
}
.carousel-nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}
.carousel-nav a {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    color: #333333;
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0.8;
    padding: 0.5em;
    position: absolute;
    text-decoration: none;
    transition: background-color 0.2s ease 0s;
}
.carousel-nav a.prev {
    left: 0;
}
.carousel-nav a.next {
    right: 0;
}
.carousel-nav-paginated .carousel-active-page a {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    opacity: 0.8;
}
.carousel-slide {
    overflow: hidden;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}
.carousel-slide .carousel-item {
    display: block;
    left: 100%;
    position: absolute;
    top: 0;
    transition: left 0.4s ease 0s;
    width: 100%;
    z-index: 1;
}
.carousel-no-transition .carousel-item {
    transition: none 0s ease 0s;
}
.carousel-slide .carousel-active {
    left: 0;
    position: relative;
    z-index: 2;
}
.carousel-slide .carousel-in {
    left: 0;
}
.carousel-slide-reverse .carousel-out {
    left: 100%;
}
.carousel-slide .carousel-out, .carousel-slide-reverse .carousel-item, .carousel-slide-reverse .carousel-in {
    left: -100%;
}
.carousel-slide-reverse .carousel-active {
    left: 0;
}
.hub-carousel-container .carousel-item {
    background-color: #FFFFFF;
}
.homepage-carousel-container {
    margin-left: 10px;
}
.homepage-carousel-container .carousel-item {
    background-color: #FFFFFF;
}
.hub-carousel-container {
    height: 370px;
    margin-bottom: 15px;
    width: 657px;
}
.hub-carousel-container .carousel-item.indexSlide {
    background: none repeat scroll 0 0 #B3B3B3;
    height: 370px;
    width: 657px;
}
.hub-carousel-with-border {
    background-color: #FFFFFF;
    border: 1px dotted #CCCCCC;
    height: 323px;
    margin: 0 0 15px;
    padding: 0 45px 45px 53px;
    width: 557px;
}
.hub-carousel-with-border .left {
    float: left;
    padding-left: 10px;
    width: 280px;
}
.hub-carousel-with-border .right {
    float: left;
    width: 255px;
}
p.headline a {
    font: bold 20px/1.3em arial,helvetica,sans-serif;
}
.rec-image {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 250px;
    padding: 7px;
    width: 250px;
}
.rec-shadow {
    box-shadow: 0 2px 6px rgba(50, 50, 50, 0.5);
}
.hero-image {
    background-color: #FFFFFF;
    display: block;
    padding: 5px;
}
.ratings-cntnr {
    margin: 2px 0 14px;
}
.ratings-cntnr .rating-stars {
    float: left;
    margin: 0 9px 0 0;
}
.ratings-cntnr a.reviews-number {
    font-size: 12px;
    margin: 3px 0 0;
}
.right p.links {
    clear: both;
    color: #888888;
    margin: 1em 0;
}
.author-container > p {
    clear: both;
    color: #4E4E4F;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0 0 21px;
}
.author, .mdash {
    color: #888888;
    font-weight: normal;
}
.center {
    clear: both;
    margin-left: -5px;
    padding: 19px 0 0;
    text-align: center;
    width: 100%;
}
.center a {
    padding: 0 5px;
}
.center.ROTD {
    margin: 10px 0 25px;
}
.center.ROTD p {
    color: #4E4E4F;
    font-size: 12px;
    margin: 0;
}
.hub-video-container {
    clear: both;
    height: 370px;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
    width: 656px;
}
.hub-video-container .viewer {
    cursor: pointer;
    float: left;
    height: 370px;
    overflow: hidden;
    position: relative;
    width: 656px;
}
.hub-video-container .viewer ul.slider {
    float: left;
}
.hub-video-container .viewer ul.slider li.pos {
    display: inline;
}
.carouselItem .video-content-text {
    float: left;
    margin: 12px 0 0 20px;
    position: absolute;
    text-align: left;
    top: 280px;
    width: 465px;
    z-index: 200;
}
.carouselItem .video-content-text h3 {
    color: #FFFFFF;
    font: bold 20px/1.3em Arial;
    margin: 0 0 0.1em;
}
.carouselItem .video-content-text p {
    color: #FFFFFF;
    font: 12px/1.5em Arial;
    margin: 0 0 0.3em;
}
.carouselItem .video-content-sponsor {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #999999;
    display: inline-block;
    height: 40px;
    position: absolute;
    right: 12px;
    top: 294px;
    width: 136px;
    z-index: 200;
}
.carouselItem .video-content-bg {
    background: none repeat scroll 0 0 #000000;
    height: 90px;
    opacity: 0.6;
    position: absolute;
    top: 279px;
    width: 100%;
    z-index: 100;
}
.hub-video-container a.arrows {
    background-color: rgba(0, 0, 0, 0);
    height: 55px;
    position: absolute;
    top: 150px;
    width: 36px;
}
.hub-video-container a.lgPlayImage {
    display: inline-block;
    height: 86px;
    position: relative;
    top: -238px;
    width: 86px;
}
.hub-carousel-with-border.merch.one-spot {
    display: block;
    height: 348px;
    margin: 0 0 15px;
    padding: 20px 42px 0;
    position: relative;
    width: 571px;
}
.one-spot > .middle-row {
    clear: both;
    height: 193px;
    margin: 70px 20px 0;
    width: 544px;
}
.one-spot > .middle-row > .left-col {
    display: inline-block;
    float: left;
    height: 100%;
    margin: 0 10px 0 0;
    width: 210px;
}
.one-spot > .middle-row > .left-col > a > h3 {
    color: #0091CE;
    font: 26px/1.2em Arial;
    margin: 0.5em 0 0.2em;
}
.one-spot > .middle-row > .left-col > h3 {
    color: #0091CE;
    font: 26px/1.2em Arial;
}
.one-spot > .middle-row > .left-col > p {
    color: #2D2D2D;
    font: 12px/1.5em Arial;
    margin: 0;
}
.one-spot > .middle-row > .right-col > a {
    float: right;
}
.one-spot > .middle-row > .right-col > a {
    float: left;
}
.one-spot > .middle-row > .right-col > a > img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 2px 6px rgba(50, 50, 50, 0.5);
    height: 160px;
    width: 300px;
}
.hub-carousel-with-border.merch.two-spots {
    height: 328px;
    margin: 0 0 15px;
    padding: 20px 45px;
    width: 565px;
}
.two-spots > div {
    display: block;
    float: left;
    height: 120px;
    margin-left: 60px;
    padding: 0 40px;
    position: relative;
    width: 364px;
}
.two-spots > div.top-row {
    border-bottom: 1px dotted #CCCCCC;
    margin-top: 40px;
}
.two-spots > div.bottom-row {
    margin-top: 45px;
}
.two-spots .left-col {
    display: inline-block;
    float: left;
    height: 100%;
    width: 85px;
}
.two-spots .left-col > a {
    float: left;
}
.two-spots .left-col > a > img {
    height: 75px;
    width: 75px;
}
.two-spots .right-col {
    display: inline-block;
    float: left;
    height: 100%;
    width: 275px;
}
.two-spots .right-col > a > h3 {
    color: #0091CE;
    font: 18px/1.2em Arial;
    margin: 0 0 0.2em;
}
.two-spots .right-col > p {
    color: #2D2D2D;
    font: 12px/1.4em Arial;
    margin: 0;
}
.hub-carousel-with-border.merch.three-spots {
    height: 318px;
    margin: 0 0 15px;
    padding: 25px 45px;
    width: 565px;
}
.three-spots > div {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    float: left;
    height: 75px;
    margin: 0 0 22px 60px;
    padding: 0 40px 22px;
    position: relative;
    width: 364px;
}
.three-spots > div.bottom-row {
    border-bottom: 0 none;
    margin: 0 0 12px 60px;
}
.three-spots .left-col {
    display: inline-block;
    float: left;
    height: 100%;
    width: 85px;
}
.three-spots .left-col > a {
    float: left;
}
.three-spots .left-col > a > img {
    height: 75px;
    width: 75px;
}
.three-spots .right-col {
    display: inline-block;
    float: left;
    height: 100%;
    width: 275px;
}
.three-spots .right-col > a > h3 {
    color: #0091CE;
    font: 18px/1.2em Arial;
    margin: 0 0 0.2em;
}
.three-spots .right-col > p {
    color: #2D2D2D;
    font: 12px/1.4em Arial;
    margin: 0;
}
.hub-carousel-with-border.merch.two-by-two {
    height: 328px;
    margin: 0 0 15px;
    padding: 20px 55px;
    width: 545px;
}
.two-by-two > div {
    display: block;
    float: left;
    position: relative;
}
.two-by-two > div.top-left, .two-by-two > div.bottom-left {
    border-right: 1px dotted #CCCCCC;
    padding-right: 15px;
    width: 256px;
}
.two-by-two > div.top-right, .two-by-two > div.bottom-right {
    padding-left: 15px;
    width: 257px;
}
.two-by-two > div.top-left, .two-by-two > div.top-right {
    height: 150px;
}
.two-by-two > div.bottom-left, .two-by-two > div.bottom-right {
    border-top: 1px dotted #CCCCCC;
    height: 160px;
    padding-top: 20px;
}
.two-by-two .left-col {
    display: inline-block;
    float: left;
    height: 100%;
    width: 85px;
}
.two-by-two .left-col > a {
    float: left;
}
.two-by-two .left-col > a > img {
    height: 75px;
    width: 75px;
}
.two-by-two .right-col {
    display: inline-block;
    float: left;
    height: 100%;
    width: 170px;
}
.two-by-two .right-col > a > h3 {
    color: #0091CE;
    font: 18px/1.2em Arial;
    margin: 0 0 0.2em;
}
.two-by-two .right-col > p {
    color: #2D2D2D;
    font: 12px/1.4em Arial;
    margin: 0;
}
.fl-right {
    float: right;
}
.fl-left {
    float: left;
}
.marb10 {
    margin-bottom: 10px;
}
.emp-orange {
    color: #FC752A !important;
}
p span {
    font-weight: normal;
}
a.arrows {
    background: url("http://images.media-allrecipes.com/ar/hubs/hubs-sprite.png") no-repeat scroll 0 0 #EBEBEB;
    height: 70px;
    padding: 0;
    position: absolute;
    top: 135px;
    width: 46px;
}
a.arrows.prev {
    background-position: 0 center;
    left: 0;
}
a.arrows.next {
    background-position: -46px center;
}
.transparent-nav a.arrows {
    background-color: rgba(0, 0, 0, 0);
}
.transparent-nav a.arrows.prev {
    background-position: -92px center;
}
.transparent-nav a.arrows.next {
    background-position: -138px center;
}
.hubs-wrapper {
    margin: 0 0 0 10px;
    width: 670px !important;
}
.rotd-sponsorship-ad {
    position: absolute;
    right: 32px;
    top: 13px;
}
.paddingBottom {
    float: left;
    padding-bottom: 30px;
}
.index-4-slide {
    clear: both;
    height: 370px;
    margin: 0 0 15px;
    position: relative;
}
.index-6-slide {
    clear: both;
    height: 370px;
    margin: 0 0 15px;
    position: relative;
}
.index-4-slide-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 184px;
    margin-bottom: 1px;
    width: 275px;
}
.index-4-slide-item.first, .index-6-slide-item.first {
    margin-left: 52px;
    position: relative;
    top: -1px;
}
.index-6-slide-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 184px;
    width: 182px;
}
.index-slide-item-summary {
    color: #FFFFFF;
    font: bold 16px/1.3em Arial;
    height: 45px;
    margin-top: 139px;
    position: relative;
    text-align: center;
    width: 275px;
    z-index: 200;
}
.index-6-slide-item .index-slide-item-summary {
    width: 182px;
}
.index-slide-item-summary p {
    color: #FFFFFF;
    display: table-cell;
    font: 13px/1.3em Verdana,Arial,sans-serif;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    width: 275px;
}
index-6-slide-item .index-slide-item-summary p {
    width: 182px;
}
.index-slide-item-summary:before {
    background: none repeat scroll 0 0 #000000;
    content: "";
    height: 45px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 275px;
    z-index: -1;
}
.ie8 .index-slide-item-summary:before {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.ie8 .index-slide-item-summary p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
.index-6-slide-item .index-slide-item-summary:before {
    width: 182px;
}
.hero-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    height: 370px;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
    width: 656px;
}
.hero-slide .content-text {
    float: left;
    margin: 12px 0 0 20px;
    position: absolute;
    text-align: left;
    top: 274px;
    width: 465px;
    z-index: 200;
}
.hero-slide .content-text h3 {
    color: #FFFFFF;
    font: bold 20px/1.3em Arial;
    margin: 0;
}
.hero-slide .content-text p {
    color: #FFFFFF;
    font: 12px/1.5em Arial;
    margin: 0 0 0.3em;
}
.hero-slide .content-sponsor {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #999999;
    display: inline-block;
    height: 40px;
    position: absolute;
    right: 12px;
    top: 294px;
    width: 136px;
    z-index: 200;
}
.hero-slide .content-bg {
    background: none repeat scroll 0 0 #000000;
    height: 90px;
    opacity: 0.6;
    position: absolute;
    top: 280px;
    width: 100%;
    z-index: 100;
}
.ie8 .hero-slide .content-bg {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
h2 {
    color: #2D2D2D;
    font: 15px Verdana,Sans-serif;
    margin-bottom: 16px;
}
h3 {
    font: 13px Verdana,Sans-serif;
}
h3 a {
    font-size: 13px;
}
#centerecomm img {
    float: left;
    margin: 0 10px 16px 0;
}
.hubTitle {
    float: left;
    margin-bottom: 0 !important;
    margin-left: 4%;
    margin-top: 2%;
    text-align: left;
    width: 100%;
}
.showcase-cntnr {
    margin-bottom:0px !important;
    margin-left: 0px !important;
}
a.arrows.next {
    right: 19px !important;
}
.ar-magText {
    color: #2D2D2D;
    font: 11px/15px Verdana,San-Serif;
}
div.ar-MagContainer {
    overflow: hidden;
    padding-top: 14px !important;
}
a.ar-MagButton {
    color: #FFFFFF !important;
    padding: 10px 32px 8px !important;
}
a img.ar-MagImage {
    border: 0 none;
    float: left;
    height: 75px;
    margin: 0 12px 18px 0;
    width: 75px;
}
.ar-magLinkOne {
    clear: both;
    text-align: center;
}
.ar-magLinkTwo {
    margin: 10px 0 6px;
}
.cookNamePro {
    float: left;
    max-width: 80px;
}
.freesignup-wrap h2 {
    margin-bottom: -5px;
}
.recommendations {
    float: left;
    height: auto;
    margin: 0 10px 10px;
    width: 100%;
}
.recommendations p {
    text-align: center;
}
.recommendations h2 {
    margin-bottom: 5px;
}
.recommendations.hasCookie h2 {
    margin-bottom: 13px;
}
.recommendations .carousel {
    margin-left: 1px;
}
.recommendations .carousel-item {
    background-color: #FFFFFF;
    float: left;
    height: 165px;
    margin-left: 26px;
}
.recommendations ul {
    background-color: #FFFFFF;
    float: left;
    padding: 10px 6px;
    text-align: center;
    width: 90px;
}
.recommendations ul li {
    margin-bottom: 3px;
}
.recommendations ul li .rating-stars.stars69x13 {
    left: 10px;
    top: 2px;
}
.recommendations .carousel-nav a.arrows {
    background: none repeat scroll 0 center #FFFFFF;
    height: 150px;
    opacity: 1;
    top: 0;
    width: 30px;
}
.recommendations .carousel-nav a.arrows span {
    background: url("http://images.media-allrecipes.com/ar/recipe/arrows.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 45px;
    margin-top: 25px;
    opacity: 1;
    width: 16px;
}
.recommendations .carousel-nav a.prev.arrows span {
    margin-left: 9px;
}
.recommendations .carousel-nav a.next {
    right: -2px !important;
    width: 30px;
}
.recommendations .carousel-nav a.next.arrows span {
    background-position: -16px center;
    position: relative;
    right: 8px;
}
.recRecipeTitle {
    position: relative;
    top: 2px;
    width: 90px;
}
.hasCookieWrap {
    float: left;
}
.hasCookieWrap p {
    padding-left: 11px;
}
.recommendations.hasCookie .carousel, .ie8 .recommendations.hasCookie .carousel {
    text-align: center;
    width: 530px;
}
.recommendations.hasCookie p {
    color: #2D2D2D;
    margin: 11px 0 0;
}
.recommendations.hasCookie .carousel-item {
    margin-left: 30px;
}
.recommendations.hasCookie ul {
    padding: 10px 3px;
}
.recommendations.hasCookie .carousel-nav a.arrows {
    width: 30px;
}
.recommendations.hasCookie .carousel-nav a.prev.arrows span {
    margin-left: 7px;
}
.recommendations.hasCookie .carousel-nav a.next {
    right: -3px !important;
    width: 28px !important;
}
.recommendations.hasCookie .carousel-nav a.next.arrows span {
    right: -1px;
}
.recSpan {
    font-size: 15px;
}
.recSeed {
    background-color: #F0F0F0;
    float: left;
    height: 190px;
    text-align: center;
    width: 126px;
}
.recSeed ul {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 13px;
}
.recSeed .stars69x13 .rating-stars-img {
    background-image: url("http://images.media-allrecipes.com/ar/recipe/recipe_stars_69x13_grey2.png");
    background-repeat: no-repeat;
}
.rec-shadow {
    background-color: #FFFFFF;
    padding: 3px;
}
.ie8 .recommendations .carousel-nav {
    left: 0;
}
.showcase-cntnr {
    color: #2D2D2D;
    float: left;
    width: 100%;
}
.showcase-cntnr > p {
    font-size: 14px;
    margin: 5px 0 15px;
    text-align: center;
}
ul.cat-cntnr {
    display: block;
    float: left;
    width: 100%;
}
ul.cat-cntnr li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    height: 15%;
    margin: 0 10px;
    overflow: hidden;
    width: 15%;
    
}

ul.cat-cntnr li > a {
    display: block;
    height: 110px;
    text-align: center;
    width: 100%;
}
ul.cat-cntnr li img {
    height: 90px;
    width: 100px;
     border: 1px none;
    border-radius: 10%;
}
ul.cat-cntnr li > span {
    float: left;
    margin-top: -10px;
    text-align: center;
    width: 110px;
}
ul.cat-cntnr li > span a {
    color: red;
    font-size: 19px;
    line-height: 20px;
    text-decoration: none;
}
.com_photos_vote h2 {
    float: left;
    margin-left: 16px;
}
#home-ltcol {
    float: left;
    margin-left: 15px;
    margin-top: 0;
    width: 250px;
}
#home-ltcol h3 {
    margin: 0 0 -3px 2px;
}
#home-ltcol p {
    color: #2D2D2D;
    line-height: 16px;
    margin-left: 2px;
    margin-top: 7px;
    width: 188px;
    word-wrap: break-word;
}
.collectionwrapper {
    margin: 0 -21px 21px 0;
    min-height: 80px;
}
#home-rtcol {
    border: 0 none;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    width: 360px;
}
#home-rtcol img {
    float: left;
}
#home-rtcol h3 {
    margin: 0 3px 5px 0;
}
#home-rtcol h3 a {
    font-size: 15px;
}
#home-rtcol ul {
    float: right;
    width: 210px;
}
#home-rtcol ul li {
    line-height: 16px;
    padding: 0 0 4px;
}
#home-rtcol p {
    color: #2D2D2D;
    float: left;
    line-height: 16px;
    margin-left: 10px;
    width: 210px;
}
#home-rtcol span > div {
    float: left;
    margin-left: 10px;
    width: 210px;
}
.com_photos_vote .title a {
    float: right;
    font-size: 11px;
    left: 1px;
    position: relative;
    top: 3px;
}
.com_photos_vote {
    float: right;
    position: relative;
    top: 0;
}
.com_photos_vote .proPill29x10 {
    left: 3px;
    position: relative;
    top: 3px;
}
.com_photos_vote ul {
    color: #808080;
    font-size: 10px;
}
.com_photos_vote ul li {
    float: left;
    padding: 0 0 0 16px;
    width: 110px;
}
.com_photos_vote ul li > div {
    line-height: 16px;
    margin-top: 5px;
    width: 110px;
}
a.more {
    font-size: 10px;
}
#home-ltcol .centercontent p {
    width: auto;
}
.centercontent {
    float: left;
}
.centercontent img {
    margin-right: 11px;
}
.main{
        margin: 15% 5% 5%;
        background-color: wheat;
        border: 1px;
        border-radius: 1%;
    }


